html, body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
}

section {
  padding-bottom: 40px;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  margin-bottom: 40px;
}

p {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

hr {
  border-top: 1px solid #c2bfbf;
}

.navbar {
  padding: 10px 40px;
}

.navbar li {
  padding: 5px 10px;
}

.navbar .nav-link {
  font-size: 1.3rem;
  color: black !important;
}

.navbar .nav-link:hover {
  opacity: 0.5;
}

.carousel-caption {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.carousel-caption h5 {
  font-size: 5rem;
  text-shadow: 1px 1px 15px #000;
}

.carousel-caption a {
  margin: 0px 10px;
}

.carousel-caption p {
  font-size: 1.6rem;
}

.jumbotron p {
  font-size: 1.6rem;
}

#about .fa-6x {
  padding-bottom: 15px;
}

#about h4 {
  font-weight: bolder;
}

#about .lead {
  font-size: 1.1rem;
  font-family: 'Dancing Script', cursive;
}

#about .fas {
  color: red;
}

#about .fa-bootstrap {
  color: purple;
}

#about .fa-css3-alt {
  color: blue;
}

.crea {
  padding-top: 8rem;
}

#services .btn {
  display: block;
}

#services p {
  font-weight: bolder;
  font-family: 'Dancing Script', cursive;
  font-size: 4rem;
  padding-top: 10px;
}

#services img {
  width: 100%;
}

#team h5 {
  font-weight: bolder;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

#social .text-center {
  padding-top: 30px;
}

#social a {
  padding: 0px 40px;
}

#social a .fa-facebook-f {
  color: #3b5998;
}

#social a .fa-twitter {
  color: #00aced;
}

#social a .fa-google-plus-g {
  color: #dd4b39;
}

#social a .fa-instagram {
  color: #517fa4;
}

#social a .fa-youtube {
  color: #bb0000;
}

#social a .fab:hover {
  opacity: 0.8;
}

footer {
  background-color: #333;
  color: white;
}

footer img {
  padding-top: 22px;
}

figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

figure .fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

figure #fixed {
  background-image: url("img/grayscale-photo-of-computer-laptop-near-white-notebook-and-169573.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .carousel-caption {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  .carousel-caption h5 {
    font-size: 3.5rem;
    text-shadow: 1px 1px 15px #000;
  }
  .carousel-caption a {
    margin: 0px 2px;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption .btn {
    padding: 3px 7px;
  }
  #social .text-center {
    padding-top: 30px;
  }
  #social a {
    padding: 0px 20px;
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-bottom: 40px;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .navbar {
    padding: 10px 10px;
  }
  .carousel-caption {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .carousel-caption h5 {
    font-size: 1.8rem;
    text-shadow: 1px 1px 15px #000;
  }
  .carousel-caption a {
    margin: 0px 2px;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .carousel-caption .btn {
    padding: 3px 7px;
  }
  .jumbotron p {
    font-size: 1.4rem;
  }
  #services p {
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    padding-top: 10px;
  }
  #social .text-center {
    padding-top: 30px;
  }
  #social a {
    padding: 0px 5px;
    font-size: .7rem;
  }
}
/*# sourceMappingURL=style.css.map */